{{#partial "contenidoNav" }}
    <a href="/organizaciones" class="nav-link-custom" style="margin: 0px 10px;" id="organizaciones">
        Organizaciones
    </a>

    <a href="/trayectos" class="nav-link-custom" style="margin: 0px 10px;" id="trayectos">
        Trayectos
    </a>
    <div class="dropdown">
        <button class="nav-drop-custom" data-bs-toggle="dropdown" aria-expanded="false" id="miPerfil">
            Mi perfil
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom">
            <li id="drop1"><a class="drop-item-custom" href="/perfil">Mis datos</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/solicitudes">Solicitudes</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/logout">Cerrar sesion</a></li>
        </ul>
    </div>
{{/partial}}

{{#partial "contenido" }}
<div class="d-flex flex-column" id="content-wrap">
    <div class=" d-flex align-self-center conteinerRegistro">
        <main>
            <div class="form-check" style="padding: 0px !important; margin:20px !important;">
                <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                    <label class="form-label texto"
                           style="font-size: 24px !important; padding:0px !important; margin: 0px !important;"
                           id="nombreDelTrayecto">Tramo 1</label>
                </div>
                <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                    <div class="col-md-12">
                        <input class="form-check-input" type="radio" name="flexRadioTramo"
                               id="flexRadioTipoDeVehiculo" onclick="mostrarFormulario(formularioTipoDeVehiculo)">
                        <label class="form-check-label textoInputs" for="flexRadioTipoDeVehiculo"
                               style="font-size: 20px;">Vehiculo particular</label>
                        <br>
                        <div class="formulariosTransporte" id="formularioTipoDeVehiculo" style="display: none;">
                            <form class="was-validated" novalidate method="POST" action="/trayectos/:id/tramos/new">
                                <label for="tipoDeVehiculo" class="form-label textoInputs">Tipo de vehiculo</label>
                                <select class="form-select form-select-custom" id="tipoDeVehiculo" required>
                                    <option selected disabled value="">-- Seleccionar tipo de vehiculo --</option>
                                    <option>Moto</option>
                                    <option>Auto</option>
                                    <option>Camioneta</option>
                                </select>
                                <label for="tipoDeCombustible" class="form-label textoInputs">Tipo de
                                    combustible</label>
                                <select class="form-select form-select-custom" id="tipoDeCombustible" required>
                                    <option selected disabled value="">-- Seleccionar tipo de combustible --
                                    </option>
                                    <option>GNC</option>
                                    <option>Nafta</option>
                                    <option>Gasoil</option>
                                    <option>Electrico</option>
                                </select>
                                <label for="inputDireccionDeSalida" class="form-label textoInputs">Direccion de
                                    salida</label>
                                <input type="text" class="form-control" id="inputDireccionDeSalida" placeholder=""
                                       value="" required>
                                <label for="inputDireccionDeLlegada" class="form-label textoInputs">Direccion de
                                    llegada</label>
                                <input type="text" class="form-control" id="inputDireccionDeLlegada" placeholder=""
                                       value="" required>
                                <div class="d-flex justify-content-center" style="margin: 20px 0px 20px 0px;">
                                    <button class=" btn-custom " type="submit" id="idRegistrarse">Añadir tramo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                    <div class="col-md-12">
                        <input class="form-check-input" type="radio" name="flexRadioTramo"
                               id="flexRadioServicioContratado"
                               onclick="mostrarFormulario(formularioServicioContratado)">
                        <label class="form-check-label textoInputs" for="flexRadioServicioContratado"
                               style="font-size: 20px;">Servicio contratado</label>
                        <br>
                        <div class="formulariosTransporte" id="formularioServicioContratado" style="display: none;">
                            <form class="was-validated" novalidate method="POST" action="/trayectos/:id/tramos/new">
                                <label for="servicioContratado" class="form-label textoInputs">Servicio
                                    contratado</label>
                                <select class="form-select form-select-custom" id="servicioContratado" required>
                                    <option selected disabled value="">-- Seleccionar servicio contratado --
                                    </option>
                                    <option>Taxi</option>
                                    <option>Uber</option>
                                    <option>Beat</option>
                                    <option>Didi</option>
                                    <option>Cabify </option>
                                    <option>Remis</option>
                                </select>
                                <label for="inputDireccionDeSalida" class="form-label textoInputs">Direccion de
                                    salida</label>
                                <input type="text" class="form-control" id="inputDireccionDeSalida" placeholder=""
                                       value="" required>
                                <label for="inputDireccionDeLlegada" class="form-label textoInputs">Direccion de
                                    llegada</label>
                                <input type="text" class="form-control" id="inputDireccionDeLlegada" placeholder=""
                                       value="" required>
                                <div class="d-flex justify-content-center" style="margin: 20px 0px 20px 0px;">
                                    <button class=" btn-custom " type="submit" id="idRegistrarse">Añadir tramo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                    <div class="col-md-12">
                        <input class="form-check-input" type="radio" name="flexRadioTramo"
                               id="flexRadioTransportePublico"
                               onclick="mostrarFormulario(formularioTransportePublico)">
                        <label class="form-check-label textoInputs" for="flexRadioTransportePublico"
                               style="font-size: 20px;">Transporte publico</label>
                        <br>
                        <div class="formulariosTransporte" id="formularioTransportePublico" style="display: none;">
                            <form class="was-validated" novalidate method="POST" action="/trayectos/:id/tramos/new">
                                <label for="tipoDeTransportePublico" class="form-label textoInputs">Tipo de
                                    transporte
                                    publico</label>
                                <select class="form-select form-select-custom" id="tipoDeTransportePublico"
                                        required>
                                    <option selected disabled value="">-- Seleccionar tipo de transporte --</option>
                                </select>
                                <label for="linea" class="form-label textoInputs">Linea</label>
                                <select class="form-select form-select-custom" id="linea" required>
                                    <option selected disabled value="">-- Seleccionar linea --</option>
                                </select>
                                <label for="paradaInicio" class="form-label textoInputs">Parada inicio</label>
                                <select class="form-select form-select-custom" id="paradaInicio" required>
                                    <option selected disabled value="">-- Seleccionar parada inicio --</option>
                                </select>
                                <label for="paradaFin" class="form-label textoInputs">Parada fin</label>
                                <select class="form-select form-select-custom" id="paradaFin" required>
                                    <option selected disabled value="">-- Seleccionar parada fin--</option>
                                </select>
                                <div class="d-flex justify-content-center" style="margin: 20px 0px 20px 0px;">
                                    <button class=" btn-custom " type="submit" id="idRegistrarse">Añadir tramo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                    <div class="col-md-12">
                        <input class="form-check-input" type="radio" name="flexRadioTramo"
                               id="flexRadioBicicletaOSimilares"
                               onclick="mostrarFormulario(formularioBicicletaOSimilares)">
                        <label class="form-check-label textoInputs" for="flexRadioBicicletaOSimilares"
                               style="font-size: 20px;">Bicicleta o similares</label>
                        <br>
                        <div class="formulariosTransporte" id="formularioBicicletaOSimilares"
                             style="display: none;">
                            <form class="was-validated" novalidate method="POST" action="/trayectos/:id/tramos/new">
                                <label for="inputDireccionDeSalida" class="form-label textoInputs">Direccion de
                                    salida</label>
                                <input type="text" class="form-control" id="inputDireccionDeSalida" placeholder=""
                                       value="" required>
                                <label for="inputDireccionDeLlegada" class="form-label textoInputs">Direccion de
                                    llegada</label>
                                <input type="text" class="form-control" id="inputDireccionDeLlegada" placeholder=""
                                       value="" required>
                                <div class="d-flex justify-content-center" style="margin: 20px 0px 20px 0px;">
                                    <button class=" btn-custom " type="submit" id="idRegistrarse">Añadir tramo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                    <div class="col-md-12">
                        <input class="form-check-input" type="radio" name="flexRadioTramo" id="flexRadioAPie"
                               onclick="mostrarFormulario(formularioAPie)">
                        <label class="form-check-label textoInputs" for="flexRadioAPie" style="font-size: 20px;">A
                            pie</label>
                        <br>
                        <div class="formulariosTransporte" id="formularioAPie" style="display: none;">
                            <form class="was-validated" novalidate method="POST" action="/trayectos/:id/tramos/new">
                                <label for="inputDireccionDeSalida" class="form-label textoInputs">Direccion de
                                    salida</label>
                                <input type="text" class="form-control" id="inputDireccionDeSalida" placeholder=""
                                       value="" required>
                                <label for="inputDireccionDeLlegada" class="form-label textoInputs">Direccion de
                                    llegada</label>
                                <input type="text" class="form-control" id="inputDireccionDeLlegada" placeholder=""
                                       value="" required>

                                <div class="d-flex justify-content-center" style="margin: 20px 0px 20px 0px;">
                                    <button class=" btn-custom " type="submit" id="idRegistrarse">Añadir tramo</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
    </div>
    </main>
</div>

{{/partial}}
{{> base.hbs }}