@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}

#content-wrap {
	padding-bottom: 2.5rem;    /* Footer height */
  }
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:14px !important;
	outline-color: #006241 !important;
    box-shadow: 0px 0px 3px 2px hsla(169, 100%, 15%, 0.292) !important;
	border-color:#006241 !important;
}
.form-select,.form-control{
	outline:14px !important;
	outline-color: #006241 !important;
    box-shadow: 0px 0px 3px 2px #004d3e4a !important;
	border-color:#006241 !important;
}
.form-select-custom:hover,.form-control:hover{
	outline:14px !important;
	outline-color: #1e3932 !important;
    box-shadow: 0px 0px 3px 2px hsla(169, 100%, 15%, 0.292) !important;
	border-color:#1e3932 !important;
}
.form-select-custom:active,.form-control:active{
	outline:14px !important;
	outline-color: #1e3932 !important;
    box-shadow: 0px 0px 3px 2px hsla(169, 100%, 15%, 0.292) !important;
	border-color:#1e3932 !important;
}.form-select-custom:focus,.form-control:focus{
	outline:14px !important;
	outline-color: #1e3932 !important;
    box-shadow: 0px 0px 3px 2px hsla(169, 100%, 15%, 0.292) !important;
	border-color:#1e3932 !important;
}

.nav-link-custom {
	border: none;
	background-color: rgba(0,0,0,0) !important;
	color: rgba(242,240,235,1);
	font-family: Open Sans;
	font-size: 30px;
	text-decoration: none;
	box-shadow: none;
}
.nav-link-custom:hover {
	color:#1e3932 !important;
	box-shadow: none!important;
}

.nav-drop-custom {
	border: none;
	background-color: #00000000 !important;
	color: rgba(242,240,235,1);
	font-family: Open Sans;
	font-size: 30px;
	text-decoration: none;
	box-shadow: none;
}
.nav-drop-custom:hover {
	color:#1e3932 !important;
	box-shadow: none!important;
}
.nav-drop-custom:active {
	color:#1e3932 !important;
	box-shadow: none!important;
}
.nav-drop-custom:focus {
	color:#1e3932 !important;
	box-shadow: none!important;
}
.drop-menu-custom {
	margin-top: 13px!important;
	border-radius: 0px 0px 0px 0px !important;
	text-align: center!important;
	justify-content: center!important;
	min-width: 136.81px !important;
	max-width: 136.81px !important;
	padding: 0px !important;
	border: none !important;
}
.drop-menu-custom:hover {
	color: #f2f0eb !important;
}
.drop-menu-custom2 {
	margin-top: 13px!important;
	border-radius: 0px 0px 0px 0px !important;
	text-align: center!important;
	justify-content: center!important;
	min-width: 232.781px !important;
	max-width: 232.781px !important;
	padding: 0px !important;
	border: none !important;
}
.drop-menu-custom2:hover {
	color: #f2f0eb !important;
}
.drop-item-custom {
	text-decoration: none;
	box-shadow: none;
	font-family: Open Sans;
	font-size: 16px;
	color: #f2f0eb !important;
}
.drop-item-custom:hover {
	box-shadow: none!important;
}
#drop1{
	background-color: #006241;
}
#drop1:hover{
	background-color: #1e3932;
}

#ingresar{
	margin-right: 10vw;
}

#miPerfil{
	margin-right: 10vw;
}
#logo{
	margin-left: 10vw;
}
#Texto-Titulo {
	mix-blend-mode: hard-light;
	left: 240px;
	top: 150px;
	position: absolute;
	overflow: visible;
	width: 541px;
	white-space: nowrap;
	line-height: 125px;
	margin-top: -7.5px;
	text-align: center;
	font-family: trigarrough;
	font-style: normal;
	font-weight: normal;
	font-size: 110px;
	color: #004C3E;
	letter-spacing: 1.2px;
	pointer-events: none;
}
.texto {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	color: #006241;
	padding: 4%;
	text-decoration: none;
}
.texto:hover {
	color: #1e3932;
}
.textoInputs {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	color: #006241;
}
.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.centerHorizontal {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}
#poseeCuenta{
	height: 20px !important;
	margin: 10px 0px 0px 0px !important;
	padding: 0px !important;
}
#poseeCuenta1{
	margin: 0px !important;
	padding: 0px !important;
	text-align: center;
}
#poseeCuenta2{
	margin: 0px !important;
	padding: 0px !important;
	text-align: center;
}

.btn-custom {
	padding: 1vh 2.3vw 1vh 2.3vw !important;
	border: none;
	border-radius: 15px !important;
	background-color:#006241 !important;
	color:#f2f0eb !important;
	font-family: Open Sans !important;
	text-decoration: none;
	text-align: center;
	font-size:20px !important;
}
.btn-nohover {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;"
}
.btn-nohover:hover,
.btn-nohover:focus {
	background: none !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}
.btn-custom-modal {
	background-color:#006241 !important;
	color:#f2f0eb !important;
	font-family: Open Sans !important;
	text-decoration: none;
	text-align: center;

}
.textoLink{
	color: blue;
	font-size:small;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
.textoLink:hover{
	text-decoration: underline;
}
.textoNoLink{
	margin: 20px 0px 20px 0px;
	color: black;
	font-size: small;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
.textoIngreso{
	margin: 1vmax 0vmax 1vmax 0vmax;
	text-decoration: none;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	color: #006241;
}
.textoIngreso:hover{
	text-decoration: none;
	color: #006241;
}
.conteinerIngreso{
	background-color: white;
	width:fit-content;
	height: fit-content;
	margin-top: 25vh;
	border-radius: 0.7vmax;
}
.textoFooter{
	color: gray;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
}
.textoFooter:hover{
	text-decoration: underline;
}

.textoCompanyName{
	color: gray;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
}

.conteinerRegistro{
	background-color: white;
	width:fit-content;
	height: fit-content;
	margin-top: 25vh;
	border-radius: 0.7vmax;

}
.conteinerUbicacion{
	background-color: white;
	width:fit-content;
	height: fit-content;
	margin: 10px 20px;
	border-radius: 0.2vmax;

}
.btn-action-icon{
	padding: 0px 3px 0px 3px !important;
	border: 1px solid #CED4DA !important;
	border-radius: 0px 5px 5px 0px !important;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 22px !important;
	color:#006241 !important;
	cursor: pointer;

}
.btn-action-icon::before{
	font-family: "Material Icons";
	content: 'visibility';
}
.btn-action-icon.hide::before{
	content: 'visibility_off';
}
.validation {
	flex-direction: column;
	font-family: Open Sans !important;
	font-weight: normal !important;
	font-style: normal !important;
	text-decoration: none !important;
	color: red;
	font-size: 14px !important;
	line-height: 20px;
}

#lower {margin-left: 25px;}
#upper {margin-left: 25px;}
#number {margin-left: 25px;}
#special {margin-left: 25px;}
#length{margin-left: 25px;}

.validation  li.valid{
	color: #006241;
}
.validation  span.valid{
	color: #006241;
}

.validation  li::before{
	text-align: right !important;
	font-family: "Material Icons";
	font-size: 20px;
	content: 'cancel';
	align-items: center !important;
}
.validation  li.valid::before{
	content: 'check_circle';
	color: #006241;
}
.edit{
	color: #006241 !important;
	cursor: pointer!important;
	margin-right: 2px;
	font-style: normal !important;
	text-decoration: none !important;
}
.edit:hover{
	color: blue!important;
}
.delete{
	color: #006241 !important;
	cursor: pointer!important;
	margin-left: 2px;
	font-style: normal !important;
	text-decoration: none !important;
}
.delete:hover{
	color: red!important;
}

#boxTrayectos{
	padding: 0px !important;

}

.listStyle{
	font-family: Open Sans !important;
	font-size: 18px !important;
	color: #006241 !important;
	margin-right: 15px;
	font-style: normal !important;
	text-decoration: none !important;
}
.listStyle:hover{
	font-size: 18px !important;
	color: #1e3932 !important;

}
.listStyleOrgs{
	font-family: Open Sans;
	font-size: 18px;
	color: #006241;
	font-style: normal !important;
	text-decoration: none !important;
}
.listStyleOrgs:hover{
	color: #1e3932;
}
.textoVinculo{
	font-family: Open Sans !important;
	font-size: 18px !important;
	color: #006241 !important;
	font-style: normal !important;
	text-decoration: none !important;
}
.textoVinculo:hover{
	color: #1E3932 !important;
	font-size: 18px !important;
}

.material-symbols-outlined {
color: #006241;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' -25,
  'opsz' 48

}
.inline {
    display: inline;
}
.submit-como-a {
    border: none;
    background: none;
}
.submit-como-a:focus {
    outline: none;
}
.submit-como-a:hover {
    border: none;
}

