@font-face {
    font-family: 'trigarrough';
    src: url('trigar_rough-webfont.woff2') format('woff2'),
         url('trigar_rough-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}