<!-- Modal Organizacion -->
<div class="modal fade" id="registroOrganizacion" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <main>
                    <form class="was-validated" method="POST" action="/signup" novalidate>
                        <div name="tipoUsuario" style="color: rgba(0, 0, 0, 0);">ORGANIZACION</div>



                        <div class="row " style="margin:1vmax 1vmax 1vmax 1vmax; ">
                            <div class="col-md-6">
                                <label for="inputCalle" class="form-label textoInputs">Direccion</label>
                                <input name="calle" type="text" class="form-control" id="inputCalle" placeholder=""
                                       value="" required>
                            </div>
                            <div class="col-md-3">
                                <label for="inputNumeracion" class="form-label textoInputs">Numeracion</label>
                                <input name="numeracion" type="number" class="form-control" id="inputNumeracion"
                                       placeholder="" value="" min="0" required>
                            </div>
                            <div class="col-md-3">
                                <label for="inputCP" class="form-label textoInputs">Codigo postal</label>
                                <input name="codPostal" type="number" class="form-control" id="inputCP"
                                       placeholder="" value="" min="0" required>
                            </div>
                        </div>
                        <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                            <div class="col-md-6">
                                <label for="selectMunicipio" class="form-label textoInputs">Municipio</label>
                                <select name="municipio" class="form-select form-select-custom" id="selectMunicipio"
                                        required>
                                    <option selected disabled value="">Elegir...</option>

                                </select>
                            </div>

                            <div class="col-md-6">
                                <label for="inputLocalidad" class="form-label textoInputs">Localidad</label>
                                <input name="localidad" type="text" class="form-control" id="inputLocalidad"
                                       placeholder="" value="" required>
                            </div>
                        </div>
                        <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                            <div class="col-md-6">
                                <label for="inputEmail" class="form-label textoInputs">Correo electronico</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="" value=""
                                       required>
                            </div>
                        </div>
                        <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                            <div class="col-md-6">
                                <label for="inputContrseñaOrg" class="form-label textoInputs">Contraseña</label>
                                <div class="input-group mb-6">
                                    <input type="password" class="form-control " id="inputContrseñaOrg"
                                           pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,32}$"
                                           placeholder="" value=""
                                           onfocus="mostrarValidaciones(document.getElementById('validaciones12').id);"
                                           onblur="ocultarValidaciones(document.getElementById('validaciones12').id);"
                                           oninput="setPasswordConfirmValidityOrg();" onkeyup="checkPasswordOrg(this.value);"
                                           required>
                                    <span class="btn-action-icon" id="togglePassword12"
                                          onclick="togglePasswordF12();"></span>
                                    <div id="validaciones12" class="d-none">
                                              <span class="d-flex align-items-center" id="requisitosOrg">&nbsp Debe contener
                                                  al
                                                  menos: </span>
                                        <li class="d-flex align-items-center" id="lowerOrg">Una letra minuscula. &nbsp
                                        </li>
                                        <li class="d-flex align-items-center" id="upperOrg">Una letra mayuscula. &nbsp
                                        </li>
                                        <li class="d-flex align-items-center" id="numberOrg">Un numero. &nbsp </li>
                                        <li class="d-flex align-items-center" id="specialOrg">Un caracter especial.
                                            &nbsp </li>
                                        <li class="d-flex align-items-center" id="lengthOrg">8 caracteres. &nbsp </li>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inputConfirmarContrseñaOrg" class="form-label textoInputs">Confirmar
                                    contraseña</label>
                                <div class="input-group mb-6">
                                    <input type="password" class="form-control " id="inputConfirmarContrseñaOrg"
                                           pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,32}$"
                                           placeholder="" value=""
                                           onfocus="mostrarValidaciones(document.getElementById('validaciones22').id);"
                                           onblur="ocultarValidaciones(document.getElementById('validaciones22').id);"
                                           oninput="setPasswordConfirmValidityOrg();" required>
                                    <span class="btn-action-icon" id="togglePassword22"
                                          onclick="togglePasswordF22();"></span>
                                    <div id="validaciones22" class="d-none">
                                        <li class="d-flex align-items-center" id="contrseñaNoCoincideOrg">&nbsp Las
                                            contraseñas
                                            no
                                            coinciden</li>
                                        <li class="d-flex align-items-center d-none" id="contrseñaCoincideOrg">&nbsp
                                            Las
                                            contraseñas coinciden</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </main>


            </div>
            <div class="d-flex justify-content-center" style="margin: 10px 0px 20px 0px;">
                <button class=" btn-custom " href="#" type="submit" id="idRegistrarse">Registrar</button>
            </div>
        </div>

    </div>
</div>
<!--Fin Modal Organizacion -->
