{{#partial "contenidoNav" }}
    <a href="#" class="nav-link-custom" style="margin: 0px 10px;" id="organizaciones">
        Organizaciones
    </a >

    <a href="#" class="nav-link-custom" style="margin: 0px 10px;" id="trayectos">
        Trayectos
    </a >
            <div class="dropdown">
                <button class="nav-drop-custom"   data-bs-toggle="dropdown"  aria-expanded="false"id="miPerfil">
                    Mi perfil
                </button>
                <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom"  >
                    <li id="drop1"><a class="drop-item-custom"  href="#">Mis datos</a></li>
                    <li id="drop1"><a class="drop-item-custom"  href="#">Solicitudes</a></li>
                    <li id="drop1"><a class="drop-item-custom"  href="/logout">Cerrar sesion</a></li>
                </ul>
            </div>
{{/partial}}
{{> homeBase.hbs }}