<!-- Modal Agente Sectorial -->
<div class="modal fade" id="registroAS" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <main>
                    <form class="was-validated" method="POST" action="/signup" novalidate>
                        <div name="tipoUsuario" style="color: rgba(0, 0, 0, 0);">AGENTE</div>
                        <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                            <div class="col-md-6">
                                <label for="selectSectorTerritorial" class="form-label textoInputs">Sector terriotorial</label>
                                <select name="sectorTerritorial" class="form-select form-select-custom" id="selectSectorTerritorial"
                                        required>
                                    <option selected disabled value="">Elegir...</option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <label for="inputEmail" class="form-label textoInputs">Correo electronico</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="" value=""
                                       required>
                            </div>
                        </div>
                        <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                            <div class="col-md-6">
                                <label for="inputContrseñaAS" class="form-label textoInputs">Contraseña</label>
                                <div class="input-group mb-6">
                                    <input type="password" class="form-control " id="inputContrseñaAS"
                                           pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,32}$"
                                           placeholder="" value=""
                                           onfocus="mostrarValidaciones(document.getElementById('validaciones13').id);"
                                           onblur="ocultarValidaciones(document.getElementById('validaciones13').id);"
                                           oninput="setPasswordConfirmValidityAS();" onkeyup="checkPasswordAS(this.value);"
                                           required>
                                    <span class="btn-action-icon" id="togglePassword13"
                                          onclick="togglePasswordF13();"></span>
                                    <div id="validaciones13" class="d-none">
                                          <span class="d-flex align-items-center" id="requisitosAS">&nbsp Debe contener
                                              al
                                              menos: </span>
                                        <li class="d-flex align-items-center" id="lowerAS">Una letra minuscula. &nbsp
                                        </li>
                                        <li class="d-flex align-items-center" id="upperAS">Una letra mayuscula. &nbsp
                                        </li>
                                        <li class="d-flex align-items-center" id="numberAS">Un numero. &nbsp </li>
                                        <li class="d-flex align-items-center" id="specialAS">Un caracter especial.
                                            &nbsp </li>
                                        <li class="d-flex align-items-center" id="lengthAS">8 caracteres. &nbsp </li>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inputConfirmarContrseñaAS" class="form-label textoInputs">Confirmar
                                    contraseña</label>
                                <div class="input-group mb-6">
                                    <input type="password" class="form-control " id="inputConfirmarContrseñaAS"
                                           pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,32}$"
                                           placeholder="" value=""
                                           onfocus="mostrarValidaciones(document.getElementById('validaciones23').id);"
                                           onblur="ocultarValidaciones(document.getElementById('validaciones23').id);"
                                           oninput="setPasswordConfirmValidityAS();" required>
                                    <span class="btn-action-icon" id="togglePassword23"
                                          onclick="togglePasswordF23();"></span>
                                    <div id="validaciones23" class="d-none">
                                        <li class="d-flex align-items-center" id="contrseñaNoCoincideAS">&nbsp Las
                                            contraseñas
                                            no
                                            coinciden</li>
                                        <li class="d-flex align-items-center d-none" id="contrseñaCoincideAS">&nbsp
                                            Las
                                            contraseñas coinciden</li>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>
                </main>


            </div>
            <div class="d-flex justify-content-center" style="margin: 10px 0px 20px 0px;">
                <button class=" btn-custom " type="submit" id="idRegistrarse">Registrar</button>
            </div>
        </div>

    </div>
</div>
<!--Fin Modal Agente Sectorial -->