.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
#footer{
	position: absolute;
	bottom: 0;
	width: 100%;

}

#content-wrap {
	padding-bottom: 2.5rem;    /* Footer height */
  }
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:14px !important;
	outline-color: #006241 !important;
    box-shadow: 0px 0px 3px 2px hsla(169, 100%, 15%, 0.292) !important;
	border-color:#006241 !important;
}
.form-select-custom:hover{
	outline:14px !important;
	outline-color: #006241 !important;
    box-shadow: 0px 0px 3px 2px hsla(169, 100%, 15%, 0.292) !important;
	border-color:#006241 !important;
}
.form-select-custom:active{
	outline:14px !important;
	outline-color: #006241 !important;
    box-shadow: 0px 0px 3px 2px hsla(169, 100%, 15%, 0.292) !important;
	border-color:#006241 !important;
}.form-select-custom:focus{
	outline:14px !important;
	outline-color: #006241 !important;
    box-shadow: 0px 0px 3px 2px hsla(169, 100%, 15%, 0.292) !important;
	border-color:#006241 !important;
}
.nav-link-custom {
	border: none;
	background-color: rgba(0,0,0,0);
	color: rgba(242,240,235,1);
	font-family: SoDo Sans;
	font-size: 30px;
	text-decoration: none;
	border: none;
}
.nav-link-custom:hover {
	color:#1e3932;
	border: none;
}
#ingresar{
	margin-right: 10vw;
}

#miPerfil{
	margin-right: 10vw;
}
#logo{
	margin-left: 10vw;
}
#Texto-Titulo {
	mix-blend-mode: hard-light;
	left: 240px;
	top: 150px;
	position: absolute;
	overflow: visible;
	width: 541px;
	white-space: nowrap;
	line-height: 125px;
	margin-top: -7.5px;
	text-align: center;
	font-family: Trigar Rough;
	font-style: normal;
	font-weight: normal;
	font-size: 110px;
	color: #004C3E;
	letter-spacing: 1.2px;
	pointer-events: none;
}
.texto {
	font-family: SoDo Sans;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	color: #006241;
	padding: 4%;
}
.textoInputs {
	font-family: SoDo Sans;
	font-style: normal;
	font-weight: normal;
	color: #006241;
}
.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.centerHorizontal {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}
#poseeCuenta{
	height: 20px !important;
	margin: 10px 0px 0px 0px !important;
	padding: 0px !important;
}
#poseeCuenta1{
	margin: 0px !important;
	padding: 0px !important;
	text-align: center;
}
#poseeCuenta2{
	margin: 0px !important;
	padding: 0px !important;
	text-align: center;
}

.btn-custom {
	padding: 1vh 2.3vw 1vh 2.3vw !important;

	border: none;
	border-radius: 15px !important;
	background-color:#006241 !important;
	color:#f2f0eb !important;
	font-family: SoDo Sans !important;
	text-decoration: none;
	text-align: center;
	font-size: 1.4rem !important;
}
.textoLink{
	color: blue;
	font-size:small;
	font-family: SoDo Sans;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
.textoLink:hover{
	text-decoration: underline;
}
.textoNoLink{
	margin: 20px 0px 20px 0px;
	color: black;
	font-size: small;
	font-family: SoDo Sans;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
.textoIngreso{
	margin: 1vmax 0vmax 1vmax 0vmax;
	text-decoration: none;
	font-family: SoDo Sans;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	color: #006241;
}
.textoIngreso:hover{
	text-decoration: none;
	color: #006241;
}
.conteinerIngreso{
	background-color: white;
	width:fit-content;
	height: fit-content;
	margin-top: 25vh;
	border-radius: 0.7vmax; 
}
.textoFooter{
	color: gray;
	font-family: SoDo Sans;
	font-style: normal;
	font-weight: normal;
}
.textoFooter:hover{
	text-decoration: underline;
}

.textoCompanyName{
	color: gray;
	font-family: SoDo Sans;
	font-style: normal;
	font-weight: normal;
}

.conteinerRegistro{
	background-color: white;
	width:fit-content;
	height: fit-content;
	margin-top: 25vh;
	border-radius: 0.7vmax; 

}
.btn-action-icon{
	padding: 0px 3px 0px 3px !important;
	border: 1px solid #CED4DA !important;
	border-radius: 0px 5px 5px 0px !important;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 22px !important;
	color:#006241 !important;
	cursor: pointer;

}
.btn-action-icon::before{
	font-family: "Material Icons";
	content: 'visibility';
}
.btn-action-icon.hide::before{
	content: 'visibility_off';
}
.validation {
	flex-direction: column;
	font-family: SoDo Sans !important;
	font-style: normal !important;
	font-weight: normal !important;
	text-decoration: none !important;
	color: red;
	font-size: 14px !important;	
	line-height: 20px;
}

#lower {margin-left: 25px;}
#upper {margin-left: 25px;}
#number {margin-left: 25px;}
#special {margin-left: 25px;}
#length{margin-left: 25px;}

.validation  li.valid{
	color: #006241;
}
.validation  span.valid{
	color: #006241;
}

.validation  li::before{
	text-align: right !important;
	font-family: "Material Icons";
	font-size: 20px;
	content: 'cancel';
	align-items: center !important;
}
.validation  li.valid::before{
	content: 'check_circle';
	color: #006241;
}
