{{#partial "contenidoNav" }}
    <a href="organizacion/areas" class="nav-link-custom" style="margin: 0px 10px;" id="organizaciones">
        Areas
    </a >

    <a href="organizacion/empleados" class="nav-link-custom" style="margin: 0px 10px;" id="trayectos">
        Empleados
    </a >
    <a href="organizacion/calcularHC" class="nav-link-custom" style="margin: 0px 10px;" id="trayectos">
        Calculadora HC
    </a >
    <a href="organizacion/cargaDeReportes" class="nav-link-custom" style="margin: 0px 10px;" id="trayectos">
        Carga de Reportes
    </a >
    <div class="dropdown">
        <button class="nav-drop-custom"   data-bs-toggle="dropdown"  aria-expanded="false"id="miPerfil">
            Mi perfil
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom"  >
            <li id="drop1"><a class="drop-item-custom"  href="/perfil">Mis datos</a></li>
            <form  method="POST" action="/logout" novalidate>
                <li id="drop1"><button class="drop-item-custom"  type="submit" style="background: none;color: inherit;	border: none;padding: 0;cursor: pointer; outline: inherit;" >Cerrar sesion</button></li>
            </form>
        </ul>
    </div>
{{/partial}}
{{> homeBase.hbs }}