{{#partial "botonHome" }}
    <a href="/homeOrg" class="navbar-brand ms-5  me-auto">
        <img src="https://raw.githubusercontent.com/ITantucci/ImagenesDDS/main/Logo.png" alt="Logo" width="30"
             height="49" id="logo">
    </a>
{{/partial}}

{{#partial "contenidoNav" }}


    <a href="areas" class="nav-link-custom" style="margin: 0px 10px;" id="organizaciones">
        Areas
    </a >

    <a href="empleados" class="nav-link-custom" style="margin: 0px 10px;" id="trayectos">
        Empleados
    </a >
    <a href="calcularHCOrg" class="nav-link-custom" style="margin: 0px 10px;" id="trayectos">
        Calculadora HC
    </a >
    <a href="cargaDeReportes" class="nav-link-custom" style="margin: 0px 10px;" id="trayectos">
        Carga de Reportes
    </a >
    <a href="/reportes" class="nav-link-custom" style="margin: 0px 10px;" id="reportes">
        Reportes
    </a >

    <a href="/contactos" class="nav-link-custom" style="margin: 0px 10px;" id="contactos">
        Contactos
    </a >
    <div class="dropdown">
        <button class="nav-drop-custom"   data-bs-toggle="dropdown"  aria-expanded="false"id="miPerfil">
            Mi perfil
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom"  >
            <li id="drop1"><a class="drop-item-custom"  href="/perfil">Mis datos</a></li>
            <form  method="POST" action="/logout" novalidate>
                <li id="drop1"><button class="drop-item-custom"  type="submit" style="background: none;color: inherit;	border: none;padding: 0;cursor: pointer; outline: inherit;" >Cerrar sesion</button></li>
            </form>
        </ul>
    </div>
{{/partial}}
{{> homeBase.hbs }}