{{#partial "botonHome" }}
    <a href="/" class="navbar-brand ms-5  me-auto">
        <img src="https://raw.githubusercontent.com/ITantucci/ImagenesDDS/main/Logo.png" alt="Logo" width="30"
             height="49" id="logo">
    </a>
{{/partial}}
{{#partial "contenidoNav" }}
        <a href="/login" class="nav-link-custom" id="ingresar">
            Ingresar
        </a >
{{/partial}}
{{> homeBase.hbs }}