{{#partial "botonHome" }}
    <a href="/" class="navbar-brand ms-5  me-auto">
        <img src="https://raw.githubusercontent.com/ITantucci/ImagenesDDS/main/Logo.png" alt="Logo" width="30"
             height="49" id="logo">
    </a>
{{/partial}}

{{#partial "contenido" }}
    <div class="d-flex flex-column" id="content-wrap">
        <div class="d-flex align-self-center conteinerIngreso">
            <main>
                <form class="was-validate" novalidate method="POST" action="/login">
                    <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                        <div class="d-flex justify-content-around">
                            <h3 class="textoIngreso">¡Hola! Ingresá tu correo electrónico<br> y contrseña</h3>
                        </div>

                    </div>
                    <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                        <div class="col-md-12">
                            <label for="inputEmail" class="form-label textoInputs">Correo electronico</label>
                            <input name="email" type="email" class="form-control" id="inputEmail" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Ingrese un email valido.
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                        <div class="col-md-12">
                            <label for="inputContrseña" class="form-label textoInputs">Contraseña</label>
                            <input name="password" type="password" class="form-control" id="inputContrseña" placeholder="" value=""
                                   required>
                            <div class="invalid-feedback">
                                Ingrese un Nombre valido.
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-custom" style="margin: 10px 0px 0px 0px; " type="submit">Iniciar Sesión</button>
                    </div>
                    <div class="d-flex justify-content-around" style="margin: 5px 0px 10px 0px;"">
                    <a href="#" class="textoLink">Olvidé mi contrseña</a>
        </div>
        </form>
        </main>
    </div>

    <div class="d-flex row justify-content-center" id="poseeCuenta">
            <span class="textoNoLink text-small col-sm-1" style="width: fit-content;" id="poseeCuenta1">¿Usted no tiene
                una cuenta?&nbsp</span> <a href="signup" id="poseeCuenta2" class=" col-sm-1 textoLink"
                                           style="width: fit-content;">Registrese</a>
    </div>
    </div>

{{/partial}}
{{> base.hbs }}