{{#partial contenido}}
    <div class="d-flex flex-column" id="content-wrap">
        <div class=" d-flex align-self-center conteinerRegistro">
            
             <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                <a class="texto" style="font-size: 40px;">NO TENES ACCESO WACHIN</a>
            </div>
            </div>
            </div>
    {{/partial}}