{{#partial "botonHome" }}
    <a href="/" class="navbar-brand ms-5  me-auto">
        <img src="https://raw.githubusercontent.com/ITantucci/ImagenesDDS/main/Logo.png" alt="Logo" width="30"
             height="49" id="logo">
    </a>
{{/partial}}

{{#partial "contenidoNav" }}
{{/partial}}



{{#partial "contenido" }}


    <div class="d-flex flex-column" id="content-wrap">
        <div class="d-flex align-self-center conteinerIngreso">
            <main>
                <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                    <div class="d-flex justify-content-around">
                        <h3 class="textoIngreso">¡Hola! La recomendacion de <br>esta semana es:</h3>
                    </div>
                </div>
                <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                    <h1  class="textoIngreso " style="text-align: left;">{{recomendacion.titulo}}</h1>
                    <h2  class="textoIngreso " style="text-align: left;">{{recomendacion.subtitulo}}</h2>
                    <h3  class="textoIngreso " style="text-align: left;">{{recomendacion.texto}}</h3>
                </div>
            </main>
        </div>
    </div>

{{/partial}}
{{> base.hbs }}