
{{#partial "botonHome" }}
    <a href="/home" class="navbar-brand ms-5  me-auto">
        <img src="https://raw.githubusercontent.com/ITantucci/ImagenesDDS/main/Logo.png" alt="Logo" width="30"
             height="49" id="logo">
    </a>
{{/partial}}

{{#partial "contenidoNav" }}
    <div class="dropdown">
        <button class="nav-drop-custom"  style="min-width: 136.8px!important;" data-bs-toggle="dropdown"  aria-expanded="false"id="menu">
            Menu
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom"  >
            <li id="drop1"><a class="drop-item-custom" href="/organizaciones">Organizaciones</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/trayectos">Trayectos</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/calcularhc">Calcular HC</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="nav-drop-custom"   data-bs-toggle="dropdown"  aria-expanded="false"id="miPerfil">
            Mi perfil
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom"  >
            <li id="drop1"><a class="drop-item-custom"  href="/solicitudes">Solicitudes</a></li>
            <form  method="POST" action="/logout" novalidate>
                <li id="drop1"><button class="drop-item-custom"  type="submit" style="background: none;color: inherit;	border: none;padding: 0;cursor: pointer; outline: inherit;" >Cerrar sesion</button></li>
            </form>
        </ul>
    </div>
{{/partial}}

{{#partial "contenido"}}
    <div class="d-flex flex-column" id="content-wrap">
        <div class=" d-flex align-self-center conteinerUbicacion">
            <h3 class="textoIngreso" >Vincularse</h3>
        </div>
    </div>

<div class="d-flex flex-column" id="content-wrap">
    <div class=" d-flex align-self-center conteinerRegistro">
        <main>
            <div class="row " style="margin:1vmax 1vmax 1vmax 1vmax;">
                <div class="col-md-12">
                    <label class="form-label textoInputs">Organizaciones</label>
                    <br>
                    <form name="myform" method="POST" action="/organizaciones/vincularse/" id="myForm">
                        <select name="area" class="form-select overflow-auto" id="category_sel" size="1">
                            <option selected disabled value="">-- Seleccionar Area --</option>
                            {{#each areas}}
                                <option  value="{{id}}"> {{ organizacion.razonSocial }} - {{ nombre }} </option>
                                {{/each}}
                        </select>
                        <br>
                        <br>
                        <div class="d-flex justify-content-center" style="margin: 10px 0px 20px 0px;">
                            <button class=" btn-custom" type="submit" id="idVinularme" >Vincularme</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>


{{/partial}}
{{> base.hbs }}